run = "python app.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales"]

[deployment]
run = ["sh", "-c", "python app.py"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41777496
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python onemap/app.py"
